$orange : #FC5A34;
$white : #ffffff;
$transparent : rgba(255, 255, 255, 0);
$wing : linear-gradient(0deg, $orange 0%, $orange 20%, $transparent 20.1%, $transparent 80%, $orange 80.1%);
$black : #000000;
$grey1 : #444444;
$grey2 : #AAAAAA;
$grey3 : #C7C7C7;
$greyLight : #E9E9E9;

$font12 : 12px;
$font15 : 15px;
$font16 : 16px;
$font18 : 18px;
$font20 : 20px;
$font30 : 30px;

$regular : 400;
$medium : 500;
$semibold : 600;
$bold : 700;

@mixin button{
    padding : 12px 30px;
    color: $white;
    font-size: $font18;
    font-weight: $bold;
    border-radius: 100px;
    box-sizing: border-box;    
    transition: background-color .3s, border .3s;
    i{
        padding-left: 5px;
    }
    &.small{
        font-weight: $semibold;
        font-size: $font12;
        padding : 6px 20px;  
    }    
}

.button.solid{
    @include button;
    background-color: $orange;
    border: solid 2px $orange;
    cursor: pointer;
    &:hover{
        border: solid 2px $white;        
        background-color: transparent;        
    }
    &.add{
        font-size: 16px;
        padding : 5px 10px;
        margin-top: 30px;
    }
    &.white:hover{
        border: solid 2px $orange;
        background-color: transparent;
        color: $orange;
    }
}

.button.flat{
    @include button;    
    border: solid 2px $white;
    font-weight: $semibold;
    &:hover{
        background-color: $orange;
        border: solid 2px $orange;                
    }
}
